
  <header *ngFor="let user of fileUploads; let i = index">
    <div class="menu" *ngIf="i==0">
      <a routerLink="/home"><img src="https://firebasestorage.googleapis.com/v0/b/popexplore-99fb9.appspot.com/o/images%2FLogo.png?alt=media&token=bb81b284-22a3-447e-918c-1a50355c54bd" class="logo"></a>
        <nav>
          <ul>
            <li style="margin-top: 10px; float:left;"class="otrosItems"><a routerLink="/listaPaises">Explora el mundo      </a></li>
            <li style="margin-top: 10px; float:left;"class="otrosItems"><a routerLink="/perfilUsuario" *ngIf="authService.isLoggedIn">|  Mi perfil                      </a></li>
            <li style="margin-top: 10px;float:left;" class="otrosItems"><a routerLink="/upload" *ngIf="authService.isLoggedIn && user.userType === 'Anfitrión' && userLogged.email === user.email">|  SubirCasa</a></li>
            <li style="margin-top: 10px;float:left;" class="iniciarSesion" *ngIf="!authService.isLoggedIn"><a routerLink="/login">Iniciar sesión</a></li>
            <li style="margin-top: 10px;float:left;"class="iniciarSesion" *ngIf="authService.isLoggedIn && i == 0"><a routerLink="/home"><span (click)="authService.SignOut()">Cerrar Sesión</span></a></li>
          </ul>
        </nav>
    </div>
  </header>

