<body>

<h1 style="text-align: center">Seleccione en que continente desea publicar su casa de entre las opciones disponibles</h1>
<br><br>
  <section id="col1">
    <input type="hidden" value="Europa" #Pais>
    <img routerLink="/upload/europe" src="https://firebasestorage.googleapis.com/v0/b/popexplore-99fb9.appspot.com/o/images%2FEurope_on_the_globe_(red).svg.png?alt=media&token=245dd5be-4aae-4b19-9c1f-a041731c1a61">
  </section>

  <section id="col2">
    <input type="hidden" value="Africa" #Pais>
    <img routerLink="/upload/africa" src="https://firebasestorage.googleapis.com/v0/b/popexplore-99fb9.appspot.com/o/images%2F1200px-Africa_on_the_globe_(red).svg.png?alt=media&token=fccc83d9-2ed6-479c-9958-e7815fe98940">
  </section>

  <section id="col3">
    <input type="hidden" value="Oceania" #Pais>
    <img routerLink="/upload/oceania" src="https://firebasestorage.googleapis.com/v0/b/popexplore-99fb9.appspot.com/o/images%2F1200px-Oceania_on_the_globe_(red)_(Polynesia_centered).svg.png?alt=media&token=878b7c72-f62c-4a5e-94b4-9dcde0f9b841">
  </section>

  <section id="col4">
    <input type="hidden" value="Asia" #Pais>
    <img routerLink="/upload/asia" src="https://firebasestorage.googleapis.com/v0/b/popexplore-99fb9.appspot.com/o/images%2F1200px-Asia_on_the_globe_(red).svg.png?alt=media&token=69fbbef0-6e36-4127-a0cd-0f52fe3ce841">
  </section>

  <section id="col5">
    <input type="hidden" value="America" #Pais>
    <img routerLink="/upload/america" src="https://firebasestorage.googleapis.com/v0/b/popexplore-99fb9.appspot.com/o/images%2F1200px-Americas_on_the_globe_(red).svg.png?alt=media&token=63b19282-6dec-42c1-b687-0ffb43cccba9">
  </section>
</body>
